.slide-pane__header {
	background: #fff;
}


.shopping-cart {
	cursor: pointer;
}

.items-counter {
	color: #fff;
	font-family: var(--bodytext-font);
}

.proceed-button {
	font-size: 16px;
	margin-bottom: 12px;
	padding: 12px 16px;
	border: solid 1px var(--bg-grey-lighter);
	border-radius: 4px;
	box-sizing: border-box;
	background: var(--wireframe-purple);
	opacity: .8;
	color: #fff;
	width: 60%;
	cursor: pointer;
}