#checkout-page {
	background: var(--hero-gradient);
}

#checkout-page h4 {
	margin-bottom: 40px;
	/* border-bottom: solid 2px var(--powerpoint-indigo); */
}



.customer-details-form {
	grid-column: 1/6;
	font-family: var(--bodytext-font);
	border-radius: 4px;
	padding-top: 24px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #fff;
	border: solid 1px var(--bg-grey-300)
	/* box-shadow: var(--alt-shadow-med); */
}

.fields {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 16px;
	box-sizing: border-box;
}

.first-name {
	margin-bottom: 24px;
	grid-column: 1/4;
}

.last-name {
	grid-column: 4/7;
}

.address {
	grid-column: span 3;
	width: 100%;
	margin-bottom: 24px;
}

.phone-number {
	grid-column: span 3;
}

.address input {
	width: 100%;
}

.city {
	margin-bottom: 24px;
	grid-column: span 2;
}

.state {
	grid-column: span 2;
}

.postcode {
	grid-column: span 2;
}


.customer-details-form label {
	display: block;
	font-size: 12px;
	margin-bottom: 8px;
	color: var(--text-grey-darker);
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.025em;
}

.customer-details-form input {
	font-size: 16px;
	margin-bottom: 12px;
	padding: 12px 16px;
	border: solid 1px var(--bg-grey-300);
	border-radius: 4px;
	color: var(--text-grey-800);
	box-sizing: border-box;
	width: 100%;
	background:  var(--bg-grey-300);
}

.customer-details-form select {
	font-size: 16px;
	margin-bottom: 12px;
	padding: 12px 16px;
	border: solid 1px var(--bg-grey-300);
	border-radius: 4px;
	height: 44px;
	box-sizing: border-box;
	width: 100%;
	background: var(--bg-grey-300);
	color: var(--text-grey-500);
}

.checkout-button {
	grid-column: 1/7;
	font-size: 16px;
	margin-bottom: 12px;
	padding: 12px 16px;
	border: solid 1px var(--bg-grey-lighter);
	border-radius: 4px;
	box-sizing: border-box;
	background: var(--wireframe-purple);
	opacity: .8;
	color: #fff;
	width: 100%;
	cursor: pointer;
}

.order-summary {
	grid-column: 6/9;
	font-family: var(--bodytext-font);
	border-radius: 4px;
	padding-top: 24px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #fff;
	border: solid 1px var(--bg-grey-300);
}