#product-index {
	display: grid;
	grid-template-columns: 1fr repeat(12, minmax(auto, 70px)) 1fr;
	grid-gap: 20px;
	padding: 60px 0;
	background: var(--hero-gradient);
	
}

.product-index-grid {
	grid-column: 2 / span 12;
	display: grid;
	grid-template-columns: repeat(12, minmax(auto, 80px));
	grid-gap: 40px;
}

.product-card {
	grid-column-end: span 4;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	cursor: pointer;
	box-shadow: var(--shadow-2xl);
	border-radius: 4px;
}

.product-card-img-container {
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
	position: relative;
}

.product-card-img-container img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-card-content {
	padding-top: 34px;
	padding-bottom: 24px;
	text-align: center;
}

.customise-button {
	font-size: 16px;
	margin-bottom: 24px;
	padding: 12px 40px;
	border: solid 1px var(--bg-grey-lighter);
	border-radius: 4px;
	box-sizing: border-box;
	background: var(--wireframe-purple);
	opacity: .8;
	color: #fff;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
}

.product-card:hover {
		transform: translateY(-7px);
		transition: ease-in-out .3s;
}
