#account-dashboard {
	background: var(--hero-gradient);
	padding: 60px;
}

/* .dashboard-header h2 {
	font-family: 'Source Sans Pro';
	margin-bottom: 64px;
} */

.dashboard-grid {
	display: grid;
	grid-template-columns: 480px 480px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
	max-width: 1060px;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}

/* PREVIOUSLY PURCHASED */

.purchased-header {
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 96px;
}

.purchased-header h4 {
	color: var(--text-grey-700);
	font-weight: bold;
	margin-bottom: 32px;
}

.purchased-card {
	width: 100%;
	display: flex;
	padding: 24px;
	margin-bottom: 18px;
	border-left: 1px solid var(--bg-grey-300);
	border-radius: 8px;
	box-shadow: var(--shadow-med);
}

.purchased-card-info {
	text-align: left;
}

.furniture-icon {
	height: 84px;
	width: 84px;
	border-radius: 50%;
	background: var(--powerpoint-indigo);
	box-shadow: var(--shadow-lg);
	margin-left: 0;
	margin-right: 24px;
}

.purchased-card-info h2 {
	font-size: 18px;
}

.purchased-card-info p {
	font-family: var(--bodytext-font);
	color: var(--text-grey-800);
}

.purchased-card-price p {
	color: var(--powerpoint-purple);
}

.button-purchased {
	align-self: center;
	border-radius: 4px;
	margin-left: 24px;
	color: var(--text-grey-700);
	background: var(--powerpoint-indigo);
	padding: 8px 12px;
	cursor: pointer;
	box-shadow: var(--shadow-lg);
}

.button-purchased:hover {
	color: #fff;
}

.edit-icon {
	margin-right: 6px;
}


/* SAVED DESIGNS */
.saved-designs-header {
	max-width: 1060px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
	width: 100%;
}


.saved-designs-header h4 {
	grid-column: span 2;
	color: var(--text-grey-700);
	font-weight: bold;
	margin-bottom: 32px;
}

.button-remove-saved {
	align-self: center;
	border-radius: 4px;
	margin-left: 24px;
	color: var(--text-grey-700);
	background: var(--powerpoint-indigo);
	padding: 8px 12px;
	cursor: pointer;
	width: 143.5px;
	text-align: left;
	box-shadow: var(--shadow-lg);
}

.button-remove-saved:hover {
	color: #fff;
}

.trash-icon {
	margin-right: 6px;
}