#registration-page {
	background: var(--hero-gradient);
}

.registration-form {
	margin-top: 100px;
	grid-column: 3/6;
	font-family: var(--bodytext-font);
	border-radius: 4px;
	padding-top: 24px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
	background-color: #fff;
	opacity: .7;
	box-shadow: var(--shadow-2xl);
}

.registration-form h1 {
	color: var(--text-grey-800);
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}

.registration-form label {
	display: block;
	font-size: 12px;
	margin-bottom: 8px;
	color: var(--text-grey-darker);
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.025em;
}

.registration-form input {
	font-size: 16px;
	margin-bottom: 12px;
	padding: 12px 16px;
	border: solid 1px var(--bg-grey-300);
	border-radius: 4px;
	color: var(--text-grey-800);
	box-sizing: border-box;
	width: 100%;
	background:  var(--bg-grey-300);
}

.registration-button {
	width: 100%;
	font-size: 16px;
	margin-bottom: 12px;
	padding: 12px 16px;
	border: solid 1px var(--bg-grey-lighter);
	border-radius: 4px;
	box-sizing: border-box;
	background: var(--wireframe-purple);
	opacity: .8;
	color: #fff;
	width: 100%;
	cursor: pointer;
}

.registration-button:hover {
	background: var(--indigo-600);
}

.terms {
	margin-top: 12px;
	color: var(--text-grey-500);
	letter-spacing: -0.025rem;
	text-align: center;
}

.terms a {
	color: var(--text-grey-500);
	letter-spacing: -0.025rem;
	text-decoration: underline;
}

.already-account {
	color: var(--text-grey-600);
	font-family: var(--bodytext-font);
	text-align: center;
	grid-column: 3/6;
}

.already-account p {
	color: var(--text-grey-600);
	font-family: var(--bodytext-font);
}

.already-account a {
	color: var(--indigo-500);
	cursor: pointer;
}

.already-account a:hover {
	color: var(--indigo-600);
}
